@import "./scaffolding.scss";
.dashboard {
    width: 100vw;
    height: 100vh;
    background-color: #0e172e;
}

.dashboard__top {
    padding: 15px 30px 0px 30px;
}

.dashboard__logo {
    width: 50px;
    height: 50px;
    margin-right: 50px;
}

.dashboard__menu {
    padding-bottom: 10px;
    border-bottom: 4px white solid;
    display: flex;
    justify-content: space-start;
}

.dashboard__menuContainer {
    display: flex;
}

.dashboard__menuText {
    color: white;
    margin-left: 30px;
}

.dashboard__menuText:hover {
    color: #5a7edb;
    cursor: pointer;
    transition: color 0.2s;
}

.dashboard__main {
    width: 100%;
    display: flex;
    height: 0;
    overflow: hidden;
    opacity: 0;
    flex-direction: column;
    transition: opacity 0.5s;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}

.top__left {
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.top__right {
    width: 400px;
    display: flex;
    justify-content: space-around;
}

.top__titleBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top__title {
    color: white;
    font-size: 50px;
    text-align: center;
}

.top__description {
    color: #ccc;
    font-size: 20px;
}

.top__span {
    color: #5a7edb;
}

.top__line {
    height: 100%;
    width: 3px;
    background-color: white;
}

.bottom {
    display: flex;
}

.bottom__left {
    margin-right: 100px;
    width: 450px;
}

.status {
    width: 100%;
    height: 100%;
}

.status__title {
    color: white;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 10;
    margin-bottom: 20px;
}

.status__basic {}

.status__basicTitle {
    color: white;
    border-bottom: 2px white solid
}

.status__stat {
    display: flex;
    align-items: center;
    margin: 5px 0px;
}

.status__bar {
    width: 10px;
    height: 35px;
    background-color: white;
    margin-right: 1px;
}

.status__category {
    color: white;
    margin-left: 10px;
}

.status__amount {
    color: #5a7edb;
    margin-left: 5px;
}

.player {
    background-color: black;
    border-radius: 5px;
    margin-top: 20px;
    width: 100%;
    height: 300px;
}

.bottom__right {
    display: flex;
    width: 100%;
}

.equipment {
    width: 100%;
    height: 100%;
    margin-right: 100px;
}

.equipment__title {
    color: white;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 10;
    margin-bottom: 20px;
}

.equipment__basic {}

.equipment__basicTitle {
    color: white;
    border-bottom: 2px white solid
}

.equipment__stat {
    display: flex;
    align-items: center;
    margin: 5px 0px;
}

.status__map {
    width: 100%;
}

.map__box {
    background-color: black;
    border-radius: 5px;
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
}

.dashboard__start {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: #455fa3;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    text-decoration: none;
}

.dashboard__start:hover {
    cursor: pointer;
    background-color: #293963;
    transition: background-color 0.4s;
}

// EQUIPMENT
.equip {
    padding: 10px;
    background-color: #192647;
    border-radius: 10px;
    display: flex;
}

.equip__left {
    margin-right: 30px;
}

.equip__top {
    width: 100%;
    min-width: 550px;
    display: flex;
    justify-content: space-evenly;
    padding: 0px 0px 5px 0px;
    margin: 0px;
    //border-bottom: white solid 2px;
}

.equip__title {
    color: white;
    font-size: 22px;
    //margin-right: 40px;
}

#equip__container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.equip__box {
    width: 60px;
    height: 60px;
    background-color: #0e172e;
    border: #ccc solid 1px;
    border-radius: 5px;
    margin: 5px;
}

.equip__box:hover {
    background-color: #192646;
    cursor: pointer;
}

.equip__box:active {
    background-color: red;
}

.equip__right {
    display: flex;
    border-left: white solid 2px;
    padding: 0px 50px;
}

.equip__description {
    color: white;
}

.map {
    width: 100%;
    height: 85vh;
    margin-top: 10px;
    background-color: black;
    border-radius: 5px;
}

.activeLink {
    color: #5a7edb;
}

.show {
    height: auto;
    padding: 20px 60px 20px 60px;
    opacity: 1;
}