@import "./scaffolding.scss";

.menu{
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu__container {
	z-index: 100;
}

.menu__title {
	font-size: 80px;
	text-align: center;
	color: white;
}

.menu__link {
    text-decoration: none;
}

.menu__text {
	font-size: 25px;
	text-align: center;
    color: white;
    margin-top: 10px;
}

.menu__text:hover {
    transition: color 0.2s;
    color: #888;
	cursor: pointer;
}

#menu__canvas {
    position: absolute;
    z-index: -1;
}

